.listSection {
  width: 35rem;
  min-width: 12rem;
  font-family: "Darker Grotesque", sans-serif;
}

.title {
  width: auto;
  margin-bottom: 1.5rem;
  font-size: clamp(2rem, 2vw, 2.3rem);
}

.list {
  width: 90%;
}

.listItem {
  width: 100%;
  margin-bottom: 2rem;
  display: block;
  padding-right: 1.5rem;
}

.listBox {
  margin-bottom: 1rem;
}

.titleList {
  font-weight: 700;
  font-size: clamp(1.17rem, 2vw, 1.19rem);
}

.duration {
  font-style: italic;
  font-weight: 300;
  font-size: clamp(1.17rem, 2vw, 1.19rem);
}

.description {
  font-size: clamp(1.17rem, 2vw, 1.19rem);
  font-weight: 100;
}

@media screen and (max-width: 40rem) {
  .listSection {
    width: 90%;
  }
  .list {
    width: 100%;
    margin-bottom: 4rem;
  }

  .listItem {
    width: 100%;
    padding: 0;
  }
}
