.profileContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileSection {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3.5rem;
  padding: 0 4.5rem;
}

.first {
  align-items: start;
}
.second {
  margin-top: 0;
}

.profileBox {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.boxImage {
  width: 100%;
  max-width: 340px;
  position: unset !important;
}

.profilePic {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: auto !important;
}

@media screen and (max-width: 57rem) {
  .profileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 40rem) {
  .profileContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    text-align: center;
    padding: 0 0.8rem;
  }

  .profileSection {
    padding: 0;
  }

  .profileSection:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
  }

  .profileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
