// Text colors
$primary-title-color: #ddfff7;
$primary-text-color: #91a6a1;

// Link colors
$link-unclicked-color: #fff;
$link-clicked-color: #ff82a9;
$link-visited-color: blue;
$link-hover-color: #cf3131;
