.profileContainer {
  font-family: "Darker Grotesque", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 2rem;
  height: 100%;
  width: 60%;
  min-width: 25rem;
}

.name {
  font-size: clamp(1.5rem, 2.5vw, 2.3rem);
  font-weight: 800;
  margin-bottom: 1.2rem;
  display: inline-block;
}

.titles {
  font-weight: 600;
  font-size: clamp(1.2rem, 2.5vw, 1rem);
  margin-bottom: 1.2rem;
}

.bioContent {
  width: 100%;
}
.bioText {
  font-size: clamp(1.1rem, 1.8vw, 1.2rem);
  font-weight: 300;
}

@media screen and (max-width: 40rem) {
  .profileContainer {
    padding: 0;
    width: 90%;
  }

  .name:nth-child(1) {
    margin-top: 2rem;
  }
  .bioContent {
  }
}
